<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>初期化</h1>
        <p>このページでは、指名可能選手のデータベースとドラフト参加チームのデータベースを作成します。</p>
        <p>すでに作成済みのデータベースがある場合、それは削除されます。</p>
        <p>ウェーバー順に、チーム名とそのチームページにログインするためのパスワードを入力してください。</p>
        <form action="/setting" method="POST">
            1. <input type="text" name="team1" placeholder="チーム名">
            <input type="text" name="password1" placeholder="パスワード"> <br>
            2. <input type="text" name="team2" placeholder="チーム名">
            <input type="text" name="password2" placeholder="パスワード"> <br>
            3. <input type="text" name="team3" placeholder="チーム名">
            <input type="text" name="password3" placeholder="パスワード"> <br>
            4. <input type="text" name="team4" placeholder="チーム名">
            <input type="text" name="password4" placeholder="パスワード"> <br>
            5. <input type="text" name="team5" placeholder="チーム名">
            <input type="text" name="password5" placeholder="パスワード"> <br>
            6. <input type="text" name="team6" placeholder="チーム名">
            <input type="text" name="password6" placeholder="パスワード"> <br>
            7. <input type="text" name="team7" placeholder="チーム名">
            <input type="text" name="password7" placeholder="パスワード"> <br>
            8. <input type="text" name="team8" placeholder="チーム名">
            <input type="text" name="password8" placeholder="パスワード"> <br>
            9. <input type="text" name="team9" placeholder="チーム名">
            <input type="text" name="password9" placeholder="パスワード"> <br>
            10. <input type="text" name="team10" placeholder="チーム名">
            <input type="text" name="password10" placeholder="パスワード"> <br>
            11. <input type="text" name="team11" placeholder="チーム名">
            <input type="text" name="password11" placeholder="パスワード"> <br>
            12. <input type="text" name="team12" placeholder="チーム名">
            <input type="text" name="password12" placeholder="パスワード"> <br>
            <input type="submit" value="作成">
        </form>
    </body>
</html>