<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1 id="rank"></h1>
        <h1 id="name"></h1>
        <p id="team"></p>
    </body>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/show_nominate';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            var title = document.title;
            socket.on('response', function(msg) {
                $('#rank').append(msg.dteam + "(第" + msg.rank + "順)");
                $('#name').append(msg.name);
                $('#team').append(msg.team);
            });
        });
    </script>
</html>